<p>Article Title: <%= @article.title %> </p>
<p>Article Content: <%= @article.content %> </p>
<a href="/articles/<%= @article.id %>/edit">EDIT!</a>
<form method="post" action="/articles/<%= @article.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>