<h1>Hello from the edit page</h1>

<p><%=@article.title%></p>
<p><%=@article.content%></p>

<form action="/articles/<%=@article.id%>" method="post">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    Name: <input type="text" name="title">
    Content: <input type="text" name="content">
    <input type="submit">
</form>