<h1>Hello from new file</h1>

<form action="/articles" method="post">
    Title: <input type="text" name="title">
    Content: <input type="text" name="content">
    <input type="submit" id="submit">
</form>