<h1>Display your Article here</h1>
 <div class="team">
  <p>Name: <%= @this_article.title %></p>
  <p>Article Content: <%= @this_article.content %></p>
</div>
<br>

<form action="/articles/<%= @this_article.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>