<h1><%=@article.title%></h1>
<p><%=@article.content%></p>
<form action="/articles/<%=@article.id%>" method="POST">
    <input type="hidden" name="_method" id="hidden" value="DELETE">
    <input type="submit" name="delete" id="delete" value="delete">
</form>